.main-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* height: 100%; */
    gap: 24px;
    padding: 40px 40px;
}

.login-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 48px;
    border-radius: 0.5rem;
    min-width: 480px;
    gap: 48px;
}

.login-headers {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.login-headers h1 {
    font-size: 48px;
    font-weight: 600;
    color: var(--primary-color);
}

.login-headers h2 {
    font-size: 36px;
    font-weight: 500;
    color: var(--header-black);
}

.form-holder form {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.redirect-text {
    text-align: center;
    font-size: 0.9rem;
    color: var(--header-black);
}

.redirect-text a {
    color: var(--primary-color);
    text-decoration: underline;
    cursor: pointer;
}
