.main-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    padding: 40px 40px;
}

.reset-email-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 48px;
    border-radius: 0.5rem;
    min-width: 480px;
    gap: 48px;
}

.reset-email-headers {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.reset-email-headers h1 {
    font-size: 48px;
    font-weight: 600;
    color: var(--primary-color);
}

.reset-email-headers h2 {
    font-size: 36px;
    font-weight: 500;
    color: var(--header-black);
}

.reset-email-headers p {
    font-size: 16px;
    font-weight: 400;
    color: var(--header-black);
    opacity: 0.7;
}

.form-holder form {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.redirect-text {
    text-align: center;
    font-size: 16px;
    color: var(--header-black);
}